.titleEditing {
  overflow: visible;
}

.titleEditing:hover {
  cursor: pointer;
}

.titleInput:focus {
  outline: none;
}

.titleInput {
  border: 1px solid #DADADA;
  border-radius: 1px;
  width: 200px;
  height: 40px;
  outline: none;
  box-shadow: 0 2px 4px 0 #DADADA;
  font-size: 16px;
}
